# Ignore Python compiled files
*.pyc
__pycache__/

# Ignore environment files
.env
venv/
*.sqlite3

# Ignore Django migrations
**/migrations/*.py
!**/migrations/__init__.py

# Ignore static & media files
staticfiles/
media/

# Ignore IDE and OS files
.vscode/
.idea/
.DS_Store
